.fundo{
    background-image: url(img/gramado_de_futebol.jpg);
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    position: absolute;
    z-index: -1;
    height: 1000px;
    width: 100%;
    display: none;

    
}