.logo{

    padding-top: 10px;
    width: 80%;
    margin: auto;
    
    
    img{
        width: 99%;
        border: 3px black solid;
    }
}


.menu{
    
    width: 80%;
    margin: auto;
    background: white;
    border-radius: 0px 0px 20px 20px;
    margin-top: -3px;
    
    div{
        display: flex;
        justify-content: space-between;
        align-content: center;  
    }
    
    nav{
        width: fit-content;
        margin: auto;
    }
    
    a{
        display: inline-block;
        color: rgb(177, 27, 0);
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        width: 100px;
        text-align: center;
        font-family: sans-serif;
              
    }

    a:hover{
        color: rgb(255, 39, 1);

              
    }
    
}