
.segunda{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px
    
    
}


.timer{
    
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    margin: auto;
    
    
    p{
        
        border: black solid 3px;
        background-color: darkred;
        border-radius: 20px;
        color: ghostwhite;
        text-decoration: wavy;
        padding: 10px;
    }
    
}       